body {
  color: #212121;
  background-color: #ffffff;
}

.logo-text {
  color: #2196f3;
}

.header-logo {
  color: #212121;
}

.nav-link {
  color: #2196f3;
}
/* цвет логотиппа
текста синий #2196F3; 
черный #000000; */

/* вторичный цвет текста черный #757575;*/
/* цвет белый  
#FFFFFF*/

/**/

ul {
  list-style: none;
}
