:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
  --tertiary-bgc: #f5f4fa;
}






body {
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
/*-----------------HEADER-------------*/
.header-logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.blue-logo {
  color: #2196f3;
}
.list {
  list-style: none;
}
.header-list .link,
.contacts-list .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;  
  letter-spacing: 0.02em;
  text-decoration: none; 
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.contacts-list {
  list-style-type: none;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: #2196f3;
}


/*---------------------------HERO-------------------*/

.hero-title {
  background: #2f303a;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.header-btn {
  background: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffff;
  cursor: pointer; 
}
.header-btn:hover,
.header-btn:focus {
  background-color: #188CE8;
 

}
 

/*-----------------------FEAUTERS----------------*/
.feauters {
  width: 1170px;
  background: #F5F5F5;
}
.feauters-list list {
  width: 1170px;
  justify-content: space-between;
}
.feauter-title{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em; 
  color: #212121;
}
.feauter-after-title{
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*-----------------------ACTIVITY----------------*/
.activity {
  font-size: large;
}
.activity-title{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;

}


/*------------------------TEAM---------------------*/
.team {
  background: #F5F4FA;
}
.team-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item-title{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-item-text {
  font-family: 'Roboto';

 
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*-----------------------FOOTER--------------------*/
.footer {
  background-color: #2f303a; 
}

.logo-text {
   color: #2196f3;
}
.footer-logo {
  
  font-family: 'Raleway';
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
  text-decoration: none;
}



.link {
  color:#FFFFFF;
  text-decoration: none;
  font-family: 'Roboto';
 
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: 'Roboto';
 
 
  font-size: 14px;
  line-height: 24px;
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: #2196f3;
}
