body {
  color: #212121;
  background-color: #ffffff;
}

font-family: 'Open Sans', sans-serif;

.logo-text {
  color: #2196f3;
}

.header-logo {
  color: #212121;
}
.list {
  list-style: none;
}
.nav-list .link {
  color: #212121;
  text-decoration: none;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: #2196f3;
}
.contacts-list {
  list-style-type: none;
}
.contacts-list .link {
  color: #212121;
  text-decoration: none;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
}
.footer-logo {
  color: #2196f3;
  text-decoration: none;
  font-family: 'Raleway';
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.address-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.address-list .link:hover,
.address-list .link:focus {
  color: #2196f3;
}

/* цвет логотиппа
текста синий #2196F3; 
черный #000000; */

/* вторичный цвет текста черный #757575;*/
/* цвет белый  
#FFFFFF*/

/**/ ;
